<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/plot">
        <input type="radio" name="tool" value="power" id="power" />
        <label for="power">Power</label><br />
        <input type="radio" name="tool" value="spectrum" id="spectrum" checked="checked" />
        <label for="spectrum">Spectrum</label>

        <br /><br />

        <table>
            {% for el in elements %}
            <tr>
                <td>{% if el.ch == 0 %}{{ el.name }}{% endif %}</td>
                <td>
                    <input type="checkbox" name="e" id="{{ el.uid }}-{{ el.ch }}" checked="checked" value="{{ el.uid }}-{{ el.ch }}">
                    <label for="{{ el.uid }}-{{ el.ch }}">ch{{ el.ch }}</label>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br /><br />

        <button>Plot</button>
    </form>
</body>
</html>